<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Het Dry rest hotel ligt op een unieke locatie op de dam in Amsterdam.
      Vanuit hier kunt u makkelijk alle interessante plekken van Amsterdam bezoeken
  <br>
  <br>
  <a class="reservate" href="/reservate">Reservate a room</a>
    <br>
  </body>
</html>
