<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>

  <body>
    The Dry Rest Hotel is on a perfect location in the centrum of Amsterdam <br>
    From here you can view the best hotspots in Amsterdam.
  <br>
  <br>
  <a class="reservate" href="bookings/new">Book a room</a>
  <div="main">
  <h3>Our rooms:</h3>
    <img src="/masterbedroom.jpg", width="400px">
    <br>
  </body>
</html>
