<p id="notice"><%= notice %></p>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<h1>Check out our great rooms</h1>

<body>

  <h2>basic:  30,=  - 1 bed</h2>
    <img class= "rooms_img" src="https://i0.bookcdn.com/data/Photos/OriginalPhoto/291/29126/29126135/Basic-Hotel-photos-Room.JPEG" />


  <h2>extra: 50,= - 2 beds</h2>
    <img class= "rooms_img" src="http://www.thehotel.co.jp/en/sutton_ueno/img/room_st.jpg" />


  <h2>Luxery: 100,= - 2 beds</h2>
    <img class= "rooms_img" src="https://s-media-cache-ak0.pinimg.com/736x/5d/e0/96/5de096f1b832861d97f3eb88a7f8db5b.jpg" />


  <h2>suite: 150,= - 1 bed</h2>
    <img class= "rooms_img" src="http://static.wynnlasvegas.com/~/media/WLV/Rooms%20and%20Suites/Encore%20Tower%20Suites/Salon%20Suite/2_129_encore_salon_suite_bedroom.jpg?h=540&la=en&w=1001&vs=1&d=20141205T181759" />

</body>
